@model CollegeAdmission.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="form">
    <h2>Login</h2>
    @if (TempData["Message"] != null)
    {
        <p style="color: green;">
            @TempData["Message"].ToString()
        </p>
    }

    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @Html.LabelFor(model => model.EmailId)
        @Html.ValidationMessageFor(model => Model.EmailId)<br />
        @Html.TextBoxFor(model => model.EmailId, "", new { @class = "textBox", @placeholder = "Enter your Email Id" })<br /><br />
        @Html.LabelFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)<br />
        @Html.PasswordFor(model => model.Password, new { @class = "textBox", @placeholder = "Enter password" })<br /><br />
        <input class="btn-submit" style="margin-left: 5%" type="submit" value="Login" />
        @Html.ActionLink("create new account", "Registration")
    }
</div>