@model CollegeAdmission.ViewModel.UserViewModel

@{
    ViewBag.Title = "Registration";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm("Registration", "User", FormMethod.Post))
{
<div class="form">
    <h2 class="form-header">Registration Form</h2>
    @if (ViewData["Message"] != null)
    {
        <p style="color: green;">
            @ViewData["Message"].ToString()
        </p>
    }
    @Html.LabelFor(model => model.FirstName)
    @Html.ValidationMessageFor(model => Model.FirstName)<br />
    @Html.TextBoxFor(model => model.FirstName, "", new { @class = "textBox", @placeholder = "Enter your first name", @maxlength = "40" })<br /> <br />
    @Html.LabelFor(model => model.LastName)
    @Html.ValidationMessageFor(model => Model.LastName)<br />
    @Html.TextBoxFor(model => model.LastName, "", new { @class = "textBox", @placeholder = "Enter your last name", @maxlength = "40" })<br /><br />
    @Html.LabelFor(model => model.Dob)
    @Html.ValidationMessageFor(model => Model.Dob)<br />
    @Html.TextBoxFor(model => model.Dob, "", new { @class = "textBox", @placeholder = "Enter your date of birth", @type = "date" })<br /><br />
    @Html.LabelFor(model => model.Gender)
    @Html.ValidationMessageFor(model => Model.Gender)<br />
    @Html.RadioButtonFor(model => model.Gender, "Male") Male
    @Html.RadioButtonFor(model => model.Gender, "Female") Female
    @Html.RadioButtonFor(model => model.Gender, "Others") Others<br /><br />
    @Html.LabelFor(model => model.EmailId)
    @Html.ValidationMessageFor(model => Model.EmailId)<br />
    @Html.TextBoxFor(model => model.EmailId, "", new { @class = "textBox", @placeholder = "Enter your Email Id", @maxlength = "50" })<br /><br />
    @Html.LabelFor(model => model.PhoneNumber)
    @Html.ValidationMessageFor(model => Model.PhoneNumber)<br />
    @Html.TextBoxFor(model => model.PhoneNumber, "", new { @class = "textBox", @placeholder = "Enter your phone number", @maxlength = "10" })<br /><br />
    @Html.LabelFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)<br />
    @Html.PasswordFor(model => model.Password, new { @class = "textBox", @placeholder = "Enter password", @maxlength = "20" })<br /><br />
    @Html.LabelFor(Model => Model.ConfirmPassword)
    @Html.ValidationMessageFor(model => model.ConfirmPassword)<br />
    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "textBox", @placeholder = "Re-Enter password", @maxlength = "20" }) <br /><br />
    <input class="btn-submit" type="submit" value="Register" />
</div>
}



























