@model IEnumerable<CollegeAdmission.ViewModel.CollegeViewModel>

@{
    ViewBag.Title = "DisplayCollege";
}
<div class="form-content">
    <center>
        <h2>Colleges</h2>
    </center>
    <table>
        @if (TempData["Message"] != null)
        {
            <div style="color : green">
                @TempData["Message"].ToString()
            </div>
        }
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CollegeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeWebsite)
            </th>
            <th>
                Edit/Delete
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CollegeCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollegeName)
                </td>
                <td>
                    <a href=@item.CollegeWebsite>@Html.DisplayFor(modelItem => item.CollegeWebsite)</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { code = item.CollegeCode })
                    @Html.ActionLink("Delete", "Delete", new { code = item.CollegeCode })
                </td>
            </tr>
        }
    </table>

</div>

