@model CollegeAdmission.ViewModel.CollegeViewModel

@{
    ViewBag.Title = "Edit";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="form">
    @using (Html.BeginForm("Edit", "Colleges", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <h2>Edit College</h2>

        @Html.HiddenFor(model => model.CollegeCode)
        @Html.LabelFor(model => model.CollegeName)
        @Html.ValidationMessageFor(model => model.CollegeName)<br />
        @Html.EditorFor(model => model.CollegeName)<br /><br />
        @Html.LabelFor(model => model.CollegeWebsite)
        @Html.ValidationMessageFor(model => model.CollegeWebsite)<br />
        @Html.EditorFor(model => model.CollegeWebsite)<br /><br />
        <input class="btn-submit" style="margin-left: 5%" type="submit" value="Edit Department" />
        @Html.ActionLink("Back to List", "DisplayCollege")
    }
</div>
