@model IEnumerable<CollegeAdmission.ViewModel.DepartmentViewModel>

@{
    ViewBag.Title = "DisplayDepartmentByCollege";
}
@if (TempData["CollegeCode"] != null)
{
    TempData.Keep("CollegeCode");
}

<div class="form-content">
    <center>
        <h2>Departments</h2>
    </center>

    @if (TempData["Message"] != null)
    {
        <div style="color : green">
            @TempData["Message"].ToString()
        </div>
    }
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </th>
            <th>
                Edit/Delete
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.DeptId)
                <td>
                    @Html.DisplayFor(modelItem => item.department.DeptName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSeats)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditDepartment", new { id = item.ID })
                    @Html.ActionLink("Delete", "DeleteDepartment", new { id = item.ID })
                </td>
            </tr>
        }
    </table>

    <input type="button" class="btn-primary" value="Add Department" onclick="location.href='@Url.Action("AddDepartment", "Department", new { code = TempData["CollegeCode"] })'" />
    <input type="button" class="btn-sucess" value="Save" onclick="location.href='@Url.Action("DisplayCollege", "Colleges")'" />

</div>

