@model IEnumerable<CollegeAdmission.ViewModel.DepartmentViewModel>

@{
    ViewBag.Title = "DisplayDepartmentByStudent";
}
@if (TempData["CollegeCode"] != null)
{
    TempData.Keep("CollegeCode");
}

<div class="form-content">
    <center>
        <h2>Departments</h2>

    </center>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.DeptId)
                <td>
                    @Html.DisplayFor(modelItem => item.department.DeptName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSeats)
                </td>
                <td>
                    <input type="button" class="btn-secondary" value="Apply" onclick="location.href='@Url.Action("Create", "UserApplications", new { code = TempData["CollegeCode"], DeptId = item.DeptId, mailId = HttpContext.Current.User.Identity.Name.ToString()})'" />
                </td>
            </tr>
        }
    </table>
</div>
<div>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
                      window.onload = function () {
                        alert("@ViewBag.Message");
                       };
        </script>
    }
</div>