@model CollegeAdmission.ViewModel.DepartmentViewModel

@{
    ViewBag.Title = "EditDepartment";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="form">
    @using (Html.BeginForm("EditDepartment", "Department", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CollegeCode)
        @Html.HiddenFor(model => model.DeptId)
        <h2>Department</h2>

        @Html.LabelFor(model => model.AvailableSeats)
        @Html.ValidationMessageFor(model => model.AvailableSeats)<br />
        @Html.EditorFor(model => model.AvailableSeats)<br /><br />

        <input class="btn-submit" style="margin-left: 5%" type="submit" value="Update Seats" />
        @Html.ActionLink("Back to List", "DisplayDepartmentByCollege")
    }

</div>